<!DOCTYPE html>
<html lang="en">
<head>
    <title>APX Radio</title>
    <link rel="stylesheet" href="/public/css/o2.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js" crossorigin="anonymous"></script>

    <script src="https://code.responsivevoice.org/1.6/responsivevoice.js?key=PekkZld1"></script>
</head>
<body>
<audio id="audioPlayer" controls hidden></audio>
<audio id="soundEffectsPlayer" hidden></audio>

<button id="loadCodeplugBtn">Load Codeplug</button>

<script type="module" src="/public/js/ApxRadioApp.js"></script>
<script type="module">
    import { ApxRadioApp } from '/public/js/ApxRadioApp.js';

    const defaultCodeplug = '<%-JSON.stringify(defaultCodeplug).replace(/</g, '\\u003c')%>';
    const allowLoad = "<%-allowLoad%>";

    let apxRadioApp = new ApxRadioApp("APX4500", defaultCodeplug, allowLoad);
    let powerState = false;

    document.getElementById('loadCodeplugBtn').addEventListener('click', async () => {
        await apxRadioApp.loadCodeplugJson();
    });
    document.getElementById('radioPowerBtn').addEventListener('click', async () => {
        if (powerState) {
            await apxRadioApp.stop();
            powerState = false;
        } else {
            await apxRadioApp.start();
            if (!apxRadioApp.isstarted) {
                console.log('Radio app failed to start');
            } else {
                console.log('Radio app started');
            }
            powerState = true;
        }
    });
</script>

<div style="text-align: center;">
    <div class="container">
        <img class="image" src="/public/images/o2_green.png" alt="radio">

        <img id="rssi_icon" class="rssi_icon" src="" alt="rssi">
        <img id="secure_icon" class="secure_icon" src="" alt="secure">
        <img id="scan_icon" class="scan_icon" src="" alt="scan">
        <img id="wifi_icon" class="wifi_icon" src="" alt="wifi">
        <img id="ip_icon" class="ip_icon" src="" alt="ip">
        <img id="gps_icon" class="gps_icon" src="" alt="ip">

        <div id="line1" class="line1"></div>
        <div id="line2" class="line2"></div>
        <div id="line3" class="line3"></div>

        <div id="menu1" class="menu1"></div>
        <div id="menu2" class="menu2"></div>
        <div id="menu3" class="menu3"></div>
        <div id="menu4" class="menu4"></div>

        <button id="channelButton" class="channelButton">CHAN</button>
        <button id="zoneUp" class="zoneUp">UP</button>
        <button id="zoneDown" class="zoneDown">DN</button>

        <button id="softButton1" class="softButton1">DN</button>

        <button id="homeButton" class="homeButton">DN</button>

        <!--        <div id="page_div" class="page_div">
                    <form id="form" action="">
                        <label for="input">RID to page</label><input id="input" autocomplete="off" />
                        <button>Send</button>
                    </form>
                </div>-->


        <button id="radioPowerBtn" class="pwr_button">PW</button>
<!--        <button id="emerg_button" class="emerg_button" onclick="send_emerg()">EM</button>-->
        <div id="ptt_indicator" class="ptt_indicator"></div>
<!--        <button id="PTT" class="PTT" onmousedown="request_voice_channel(this)" onmouseup="release_voice_channel(this)" >PTT</button>-->
    </div>
</div>

</body>
</html>