<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trunk-Scanner</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/scanner.css">
</head>
<body class="bg-dark text-white">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div id="scanner" class="bg-secondary p-3 rounded-lg scanner-off" style="box-shadow: 0 0 10px 3px rgba(0,0,0,0.5);">
                <div id="queueCounter" class="text-right">Queue: 0</div>
                <div id="keyLight" class="light off"></div>

                <h4 class="text-center mb-3">Trunk-Scanner</h4>
                <div class="scanner-screen d-flex flex-column justify-content-between">
                    <div class="top-info d-flex justify-content-between text-monospace">
                        <div>TG: <span id="tgid">0</span></div>
                        <div>Freq: <span id="frequency">000.000.00</span></div>
                    </div>
                    <div id="info_test" class="text-monospace">
                        <div class="talkgroupLabel-container text-center">
                            <span id="talkgroupLabel" style="font-size: 25px">Trunk-Scanner V:02.00.00</span>
                        </div>
                        <div class="source-container text-center">
                            <div>ID: <span id="source">0</span></div>
                        </div>
                    </div>
                    <div class="bottom-info d-flex justify-content-between text-monospace">
                        <div>Time: <span id="dateTime">N/A</span></div>
                        <div><span id="extraInfo"></span></div>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <button id="toggleStream" class="btn btn-success">Start</button>
                    <button id="muteStream" class="btn btn-primary">Mute</button>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#recordingsModal">
                        Playback
                    </button>
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#presetsModal">
                        Presets
                    </button>
                    <button id="avoidKeyedTalkgroup" class="btn btn-primary">Avoid</button>
                </div>
            </div>
        </div>
    </div>
</div>

<audio id="audioPlayer" controls hidden></audio>

<div class="modal fade" id="recordingsModal" tabindex="-1" aria-labelledby="recordingsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="recordingsModalLabel">Recordings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="filterForm" class="mb-3">
                    <div class="form-row">
                        <div class="col">
                            <label for="systemInput"></label><input type="text" class="form-control" id="systemInput" placeholder="System">
                        </div>
                        <div class="col">
                            <label for="talkgroupInput"></label><input type="text" class="form-control" id="talkgroupInput" placeholder="Talkgroup">
                        </div>
                        <div class="col">
                            <label for="dateInput"></label><input type="date" class="form-control" id="dateInput">
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary" onclick="searchAudioFiles()">Search</button>
                        </div>
                    </div>
                </form>
                <div id="recordingsList"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="presetsModal" tabindex="-1" role="dialog" aria-labelledby="presetsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="presetsModalLabel">Manage Presets</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="presetNameInput"></label><input type="text" class="form-control mb-2 text-dark" id="presetNameInput" placeholder="Preset Name">
                <button type="button" class="btn btn-primary mb-2" id="addPresetButton">Add Preset</button>
                <ul id="presetsList" class="list-group text-dark"></ul>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editPresetModal" tabindex="-1" role="dialog" aria-labelledby="editPresetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPresetModalLabel"><span id="editPresetName"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="editPresetInput"></label><input type="text" class="form-control mb-2 text-dark" id="editPresetInput" placeholder="Add Talkgroup">
                <button type="button" class="btn btn-primary mb-2" id="addTalkgroupButton">Add Talkgroup</button>
                <ul id="editPresetTalkgroupsList" class="list-group text-dark"></ul>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/scanner.js"></script>
</html>