html, body {
    width: 100%;
    height: 100%;
    background: grey;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.custom-bordered-cell {
    border: 3px solid #ccc;
    padding: 8px;
}

.container {
    position: relative;
    display: inline-block;
}

.image {
    display: block;
    height: 120%;
    width: 120%;
}

.line1 {
    position: absolute;
    top: 30%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 20px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
}

.line2 {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 20px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
}

.line3 {
    position: absolute;
    top: 52%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 17px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    background-color: black;
    width: 282px;
}

.pwr_button {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    top: 20%;
    left: 6%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 25px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    color: transparent;
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
}

.emerg_button {
    position: absolute;
    border-radius: 100%;
    cursor: pointer;
    top: 20%;
    left: 88%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 30px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    color: transparent;
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    height: 27px;
}

.homeButton {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    top: 81%;
    left: 114%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 25px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    color: transparent;
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
}

.softButton1 {
    position: absolute;
    cursor: pointer;
    top: 84%;
    left: 37%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 25px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    color: transparent;
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
}

.PTT {
    position: absolute;
    cursor: pointer;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 13px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    color: black;
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    height: 175px;
}

.channelButton {
    position: absolute;
    border-radius: 100%;
    cursor: pointer;
    top: 25%;
    left: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 53px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    color: transparent;
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
}

.zoneUp {
    position: absolute;
    border-radius: 15%;
    cursor: pointer;
    top: 70%;
    left: 105%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 22px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    color: transparent;
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
}

.zoneDown {
    position: absolute;
    border-radius: 15%;
    cursor: pointer;
    top: 70%;
    left: 95%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 24px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    color: transparent;
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
}

.ptt_indicator {
    border-radius: 33%;
    width: 22px;
    height: 10px;
    background-color: red;
    display: none;
    position: absolute;
    top: 28%;
    left: 9.5%;
}

.menu1 {
    position: absolute;
    top: 64%;
    left: 36.8%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 17px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    background: grey;
    border: 0px;
    border-right-color: black;
    padding: 0px 5px;
}

.menu2 {
    position: absolute;
    top: 63%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 17px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    background: transparent;
    border: 0px;
    border-left-color: black;
    padding: 2px 5px;
}

.menu3 {
    position: absolute;
    top: 63%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 17px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    background: transparent;
    border-left-color: black;
    border: 0px;

    padding: 2px 5px;
}

.menu4 {
    position: absolute;
    top: 63%;
    left: 71%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 17px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    background: transparent;
    border-left-color: black;
    border: 0px;

    padding: 2px 5px;
}

.rssi_icon {
    width: 22px;
    height: 20px;
    background-color: transparent;
    display: none;
    position: absolute;
    top: 11%;
    left: 32%;
}

.secure_icon {
    width: 15px;
    height: 17px;
    background-color: transparent;
    display: none;
    position: absolute;
    top: 11%;
    left: 37%;
}

.scan_icon {
    width: 20px;
    height: 20px;
    background-color: transparent;
    display: none;
    position: absolute;
    top: 11%;
    left: 41%;
}

.wifi_icon {
    width: 14px;
    height: 13px;
    background-color: transparent;
    display: none;
    position: absolute;
    top: 11%;
    left: 50%;
}

.ip_icon {
    width: 14px;
    height: 15px;
    background-color: transparent;
    display: none;
    position: absolute;
    top: 11%;
    left: 50%;
}

.gps_icon {
    width: 14px;
    height: 15px;
    background-color: transparent;
    display: none;
    position: absolute;
    top: 11%;
    left: 50%;

}

.page_div {
    position: absolute;
    top: 120%;
}

@keyframes flash {
    0%, 100% {
        background-color: inherit;
    }
    50% {
        background-color: red;
    }
}

.flash-bg-danger {
    animation: flash 1s infinite;
}