#scanner {
    position: relative;
    width: 500px;
    margin: 0 auto;
}

.scanner-off {
    background-color: #1c1c1c !important;
    color: #555 !important;
}
.scanner-off #queueCounter #volumePercentage, .scanner-off .text-monospace {
    color: #777 !important;
}

.scanner-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #002244; /* Dark blue, */
    color: #0f0; /* Greens */
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

.top-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 15px;
}

.talkgroupLabel-container {
    width: 100%;
    /*display: flex;*/
    justify-content: center;
}

.source-container {
    width: 100%;
    /*display: flex;*/
    justify-content: center;
    font-size: 15px;
}

.text-monospace {
    font-family: 'Courier New', monospace;
    line-height: 1.5;
    gap: 5px;
}
.scanner-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.light {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
}

.off {
    background-color: #ccc;
}

.on {
    background-color: #0f0;
}

.text-right {
    text-align: right;
}

.volume-controls {
    position: absolute;
    top: 50%;
    right: -1px;
    transform: translateY(-50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.volume-controls .btn {
    padding: 0.25rem 0.25rem;
    font-size: 0.75rem;
    width: 20px;
    text-align: center;
}

.volume-controls .btn i {
    margin: 0;
}